
  <section>
    <div>
      <h1>404</h1>
      <p>Not found</p>
    </div>
  </section>



<style>

section {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }

  h1 {
    margin: 0;
    font-size: calc(6rem + 1.5vw);
  }

  p {
    font-size: calc(1rem + 1.5vw);
    margin-bottom: 0;
  }

  h1, p {
    text-align: center;
  }
</style>